.auth-container{
    height:100%;
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding:20px;
    margin: 0 auto;
}
input{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.toggle-link{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.google-button{
    width: 300px;
    padding: 12px;
    background: #4285f4;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}